
body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(30, 29, 29);
}
.Imagens ,.Imagens2 ,.Imagens3 ,.Imagens4 ,.Imagens5 {
    position: relative;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.Imagens{
    background-image: url(Assets/imagem1.jpg);
} 

.Imagens2{
    background-image: url(Assets/imagem2.jpg);
} 

.Imagens3{
    background-image: url(Assets/imagem3.jpg);
} 

.Imagens4{
    background-image: url(Assets/imagem4.jpg);
} 

.Imagens5{
    background-image: url(Assets/imagem5.jpg);
} 

.content{
    color: azure;
    text-align: center;
    margin: 10px 15% 10px 15%;
}
footer{
    text-align: center;
    background-color: rgba(135, 181, 222, 0.589);
    padding: 19px;
    font-size: large;
    font-size: 19px;
    color: rgb(13, 82, 105);
}

.Text{
    position: absolute;
    left: 42.5%;
    margin-top:20%;
    text-align: center;
    text-transform: uppercase;
}

h1{
    background-color: rgba(246, 249, 98, 0.6);
    font-size: 29px;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    padding: 16px;
}