@import url('https://fonts.googleapis.com/css2? family= Aclonica & family= Arvo:ital@0;1 & family= Inter:wght@100;200;300;400;500; 600;700;800;900 & família= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 & família= Signika:wght@500 & display= trocar');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto','Aclonica', 'Signika', sans-serif;
}

body{
    background-color: rgba(245, 240, 233, 0.989);
    position: relative;
    margin: 2em 4em;
}

header{
    position: absolute;
    width: 100%;
    height: 13em;
    background-image: url(Assets/topo-imagem-lateral.png);
}

#Logo{
    position: absolute;
    background: url(Assets/topo-imagem-principal2.png) no-repeat;
    float: inline-start;
    width: 70%;
    height: 100%;
    top:0;
    left: 0;
}

#Logo img{
    margin:1em;
}

nav{
    position: absolute;
    width: 47.5%;
    height: 100%;
    float: inline-end;
    background: url(Assets/topo-imagem-lateral.png) no-repeat ;
    box-sizing: border-box;
    padding: 0.5em 1em 0.5em 8em;
    list-style: none;
    right: 0;
    top: 0;
}

nav span{
    padding-left: 15px;
    padding-right: 29px;
    font-size: 0.9em;
    color: rgb(109, 93, 72);
}

nav button{
    margin: 0.3em;
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.4em  0.4em 0.4em ;
    background-color: rgba(217, 196, 144, 0.984);
    color: rgb(109, 93, 72);
}

nav button:hover{
    background-color: rgba(192, 173, 124, 0.984);
    color: rgb(138, 112, 79);
}

nav img{
    float: right;
    margin-top: -9.5em;
    margin-right: 6.5em;
    width: 40%;
}

hr{
    width: 80%;
}

nav li{
    padding-left: 0.5em;
    padding-top: 0.7em;
    font-size: 16.7px;
    font-weight: bold;
    list-style: none;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(114, 76, 62, 0.801);
}

nav a:hover{
    padding: 0.5em 0.2em 0.5em 0.2em;
    border-radius: 10px;
    background-color: rgba(205, 183, 136, 0.961);
    color: rgba(113, 97, 56, 0.993);
}

main{
    position: relative;
    top: 13em;
    clear: both;
}

article{
    width: 49.8%;
    margin-top: 0.3em;
    box-sizing: border-box;
}

#Aside-left{
    float: left;
    height: 100%;
    padding: 1em;
    background-color: rgba(236, 220, 183, 0.984);
}

h2{
    color: rgba(123, 110, 76, 0.984);
    text-decoration: underline rgba(192, 173, 124, 0.984);
    text-underline-offset: 0.2em;
}

.Content-left{
    font-size: 19px;
    color: rgb(82, 66, 46);
    padding: 0.44em 0.2em;
}

#Aside-right{
    float: right;
    padding: 0.5em;
    background-color: rgba(200, 182, 138, 0.984);
}

#Aside-right a{
    text-decoration: none;
    width: 2em;
}

aside:hover{
    background-color: antiquewhite;
}

aside{
    background-color: rgba(228, 208, 158, 0.84);
    width: 100%;
    height: 100%;
    margin-bottom: 0.3em;
}

aside h3{
    color: rgba(123, 110, 76, 0.984);
    text-decoration: underline rgba(192, 173, 124, 0.984);
    text-underline-offset: 0.4em;
    padding: 0.2em 0em 0.5em 0em;
}

aside p{
    font-size: 17px;
    color: rgb(82, 66, 46);
    padding: 0.44em 0.2em;
}

.Imagem{
    float: left;
    width: 7em;
    height: 5em;
    padding: 0.3em;
    border-radius: 10px;
}

.Ornamento{
    float: right;
    padding-right: 2em;
}

footer{
    position: relative;
    clear: both;
    background-color: burlywood;
    display: block;
    top: 14em;
    text-align: center;

}